**
!.dockerignore
!docker/
!docker/Dockerfile
!platform-gateway/
!platform-gateway/build/
!platform-gateway/build/libs/
!platform-gateway/build/libs/*.jar
!platform-auth/
!platform-auth/build/
!platform-auth/build/libs/
!platform-auth/build/libs/*.jar
!platform-modules/
!platform-modules/platform-system/
!platform-modules/platform-system/build/
!platform-modules/platform-system/build/libs/
!platform-modules/platform-system/build/libs/*.jar
!platform-modules/platform-files/
!platform-modules/platform-files/build/
!platform-modules/platform-files/build/libs/
!platform-modules/platform-files/build/libs/*.jar
!platform-modules/platform-sse/
!platform-modules/platform-sse/build/
!platform-modules/platform-sse/build/libs/
!platform-modules/platform-sse/build/libs/*.jar
!platform-modules/platform-agent/
!platform-modules/platform-agent/build/
!platform-modules/platform-agent/build/libs/
!platform-modules/platform-agent/build/libs/*.jar
!platform-modules/platform-scheduler/
!platform-modules/platform-scheduler/build/
!platform-modules/platform-scheduler/build/libs/
!platform-modules/platform-scheduler/build/libs/*.jar
